name: Integration tests

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch: {}
  push:
    branches:
      - gh-it

jobs:
  it:
    name: Run integration tests
    environment: "Integration tests"
    runs-on: ubuntu-latest
    container: weaveworks/eksctl-build:0b095fa3825b2a5bfb98b9b7ff7135ae1a94c127
    env:
      SSH: "/root/.ssh"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache go-build and mod
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build/
            ~/go/pkg/mod/
          key: ${{ hashFiles('go.sum') }}
      - name: Setup SSH known hosts
        shell: bash
        run: |
          mkdir -p ${SSH} && chmod 700 ${SSH}
          ssh-keyscan github.com >> ${SSH}/known_hosts
      - name: Setup SSH key
        shell: bash
        env:
          GIT_SSH_COMMAND: "ssh -vvvv -i ${SSH}/eksctl-bot"
        run: |
          mkdir -p ${SSH} && chmod 700 ${SSH}
          echo "${{ secrets.EKSCTLBOT_SSH_KEY }}" > ${SSH}/eksctl-bot
          chmod 600 ${SSH}/eksctl-bot
          git clone git@github.com:eksctl-bot/my-gitops-repo
      - name: Run integration tests
        env:
          AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
          AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          TEST_V: "1"
          SSH_KEY_PATH: "${SSH}/eksctl-bot"
        run: make integration-test

